<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asmarasusanto.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".KomunitasActivity" />
        <activity android:name=".SendLokasiActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PilihLevelActivity" />
        <activity android:name=".RPerusahaanActivity" />
        <activity android:name=".RKomunitasActivity" />
        <activity android:name=".NextPerusahaanActivity" />
        <activity android:name=".GetLokasiActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleapi" />

        <activity android:name=".UploadProposalActivity" />
        <activity android:name=".ActivityTeman" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".RoomChatActivity" />
        <activity android:name=".ListProposalActivity"></activity>
    </application>

</manifest>